{% extends "gp/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-7">
            <div class="main-article">
                <h2 class="main-feature-title">{{ latest_feature }}</h2>
                <p>{{ latest_feature.pub_date }}</p>
                <p>{{ latest_feature.content }}</p>
            </div>
            <hr class="main-hr">
            <div class="second-article">
                <h3 class="second-feature-title">{{ second_feature }}</h3>
                <p>{{ second_feature.pub_date }}</p>
                <p>{{ second_feature.content }}</p>
            </div>
            <hr class="second-hr">
        </div>
        <div class="col-sm-5">

                <div>
                    <ul class="recent-posts">
                        <li class="third-article articles"><a href="{% url 'feature_detail' pk=third_feature.pk %}">{{ third_feature }}</a></li>
                        <br>
                        <li class="fourth-article articles"><a href="{% url 'feature_detail' pk=fourth_feature.pk %}">{{ fourth_feature }}</a></li>
                        <br>
                        <li class="fifth-article articles"><a href="{% url 'feature_detail' pk=fifth_feature.pk %}">{{ fifth_feature }}</a></li>
                    </ul>
                </div>
                <hr>
                <p>More specials!</p>
                <ul>
                    {% for feature in past_features %}
                    <li><a href="{% url 'feature_detail' pk=feature.pk %}">{{ feature }}</a></li>
                    {% endfor %}
                </ul>
                <a href="#">more..</a>

        </div>
    </div>
{% endblock %}